<div class="third margin-auto min-height--600">
<%= simple_form_for @booking do |f| %>
  <%= f.input :name %>
  <%= f.input :price, input_html: { min: '0', step: 'any' } %>
  <%= f.input :description %>
  <%= f.button :submit,  class: "btn color-red white" %>
<% end %>
</div>