
<header class="app-header">
  <div class="nav padding flex">
            <%= link_to "Club Artizan", root_path, class: "logo" %>
  </div>
</header>


<div class="logBox third  margin-auto">
<%= form_for (signin_path) do |f| %>
<%= f.email_field :email, :placeholder => "Email" %>
<%= f.password_field :password, :placeholder => "password" %>
<%= f.submit "Create my account", class: "btn color-red white" %>
<% end %>
</div>
